body {
	margin: 20px;
	background-color: rgb(0,0,0);
}

/*Navigation bar*/

.bar {
	display: flex;
	justify-content: space-between;
}

.logo {
	width: 110px;
	margin-top: 5px;
	cursor: pointer;
}

.searchBar {
	display: flex;
}

.fa-magnifying-glass {
	color: rgb(194,194,194);
	background-color: rgb(58,58,58);
	padding-top: 19px;
	padding-bottom: 10px;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	cursor: pointer;
}

.search {
	border: none;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	outline: none;
	background-color: rgb(58,58,58);
	color: rgb(194,194,194);
	width: 500px;
	height: 52px;
	flex: 1;
}

::placeholder {
	color: rgb(194,194,194);
	font-size: 15px;
}

.userImage {
	width: 30px;
	margin-top: 10px;
	border-radius: 15px;
	cursor: pointer;
}

/*Side bar*/
.composing {
	display: flex;
}

.fa-pencil {
	color: rgb(95,99,104);
	background-color: rgb(255,255,255);
	padding-top: 18px;
	padding-left: 16px;
	padding-right: 10px;
	margin-top: 10px;
	font-size: 18px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	cursor: pointer;
}

.compose {
	border: none;
	outline: none;
	color: rgb(95,99,104);
	background-color: rgb(255,255,255);
	font-size: 14px;
	width: 90px;
	height: 56px;
	margin-top: 10px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	cursor: pointer;
}

.options button {
	display: block;
	border: none;
	outline: none;
	cursor: pointer;
	color: rgb(95,99,104);
	background-color: rgb(0,0,0);
	margin-top: 10px;
	padding: 5px;
	font-size: 17px;
}